html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.contact{
    border:2px solid lightblue;
    margin:10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

#github{
    text-align:center;
}

#github i{
    font-size:3.0vw;
    letter-spacing: 1.5em;
}

#github a:link{
    color:lightblue;
}

#github a:visited{
    color:lightblue;
}

.hvr-underline-from-center:before{
    background:white;
}

.dropdown-item:hover{
    background-color:lightgray;
}

#headshot{
    width:25%;
    height:auto;
}

/* .card-body {
    display: flex;
    flex-direction: column;
  }
  
  button.btn {
    margin-top: auto;
    bottom:0;
  } */